$almostBlack: rgba(51, 51, 51, 0.88);

#onboardingQuizComp{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 174, 255, 0.075);
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#promptHolder{
    grid-row: 1/2;
}
#answerMenu{
    grid-row: 2/3;
}
.promptText{
    font-weight: 900;
    font-size: 40px;
    line-height: 52px;
}
.answerMenu{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px; // so we dont get too close to the steps display
    .answerOption{
        flex: 1;
        border: 2px solid $almostBlack;
    }

}